package day{{.Day}}

import (
	// "aoc/golang/utils"
    "fmt"
)

func runPartOne(filename string) int {
	fmt.Println("Part One")
	return 0
}

func runPartTwo(filename string) int {
	fmt.Println("Part Two")
	return 0
}
