package day{{.Day}}

import (
	"aoc/golang/utils"
	"testing"
)

func TestPartOne(t *testing.T) {
	utils.RunTest(0, "example.txt", {{.Day}} int, t, runPartOne)
}

func TestPartTwo(t *testing.T) {
	utils.RunTest(0, "example.txt", t, {{.Day}} int, runPartTwo)
}
