package day{{.Day}}

import (
	"aoc/golang/utils"
	"testing"
)

func TestPartOne(t *testing.T) {
	utils.RunTest(0, "example.txt", {{.Year}}, {{.Day}} , t, runPartOne)
}

func TestPartTwo(t *testing.T) {
	utils.RunTest(0, "example.txt", {{.Year}}, {{.Day}} , t, runPartTwo)
}
